* {
  margin: 0;
}

body {
  background-color: #212121
}

h1 {
  color: #00FFFC;
  font-size: 40px;
  font-family: Franklin Gothic Medium;
}

#nav {
  background-color: #0066FF;
  height: 150px;
  border-bottom-style: solid;
  border-bottom-color: #00FFFC;
  border-bottom-width: 10px;

}

#nav ul {
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#nav ul a {
    display:block;
    color:#333;
  backgorund-color: #00C2E4;
    text-decoration:none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#nav ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#nav ul li.menu {
    background-color: #00C2E4
}

#nav ul li:hover {
    background: #00C2E4
}

#nav ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li {
    float:none;
    width:200px
}

#nav ul ul a {
    line-height:120%;
    padding:10px 15px
}

#nav ul ul ul {
    top:0;
    left:100%
}

#nav ul li:hover > ul {
    display:block
}
